<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:include="elements/head :: head"></head>
<body>

<div class="content">

    <header th:include="elements/menu-header :: menu-header"></header>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3 new-col">
                    <div class="small-box">
                        <div class="select-box">
                            <!-- Nav tabs -->
                            <ul class="tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Общие настройки</a></li>
                                <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Участники</a></li>
                                <li role="presentation"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">Файлы</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-9 new-col right-col">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="settings">
                            <div class="data-list">
                                <div class="title-data">
                                    <h1 class="h1">Редактировать</h1>
                                </div>
                                <!-- item 1 -->
                                <div class="list-item">
                                    <div class="info-edit">
                                        <div class="row">
                                            <form action="" method="post">
                                                <div class="input-box">
                                                    <label for="name">Название:</label>
                                                    <input th:value="${event_model.name}" id="name" type="text" name="name" placeholder="Название"/>
                                                </div>
                                                <div class="input-box">
                                                    <label for="type">Тип:</label>
                                                    <select id="type" name="type">
                                                        <option>Не выбрано</option>
                                                        <option th:each="type : ${types}" th:text="${type}">Фильтр 1</option>
                                                    </select>
                                                </div>
                                                <div class="input-box">
                                                    <label for="descr">Описание:</label>
                                                    <textarea th:text="${event_model.description}" id="descr" type="text" name="description" placeholder="Описание"></textarea>
                                                </div>
                                                <div class="input-box">
                                                    <label for="info">Информация:</label>
                                                    <textarea id="info" type="text" name="info" placeholder="Информация"></textarea>
                                                </div>
                                                <div class="button-container">
                                                    <button class="create-org-button create-button upload-button" type="submit">Отправить</button>
                                                    <button class="cancel-button create-button upload-button" type="reset">Отмена</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="users">
                            <div class="data-list">
                                <div class="title-data setting">
                                    <h1 class="h1 view-425">Мероприятия</h1>
                                    <div class="sort-select title-sort">
                                        <select title="">
                                            <option>Сортировать</option>
                                            <option>По фамилии А-Я</option>
                                            <option>По фамилии Я-А</option>
                                        </select>
                                        <div class="select__arrow"></div>
                                    </div>
                                    <h1 class="h1 list-title">Участники</h1>
                                    <div class="search-title">
                                        <div class="search-box">
                                            <input type="search" id="searchUser" placeholder="Поиск..." />
                                            <button class="icon"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                    <div class="add-item">
                                        <a href="#" data-toggle="modal" data-target="#addStudent"><i class="fa fa-plus"></i>Добавить пользователя</a>
                                    </div>

                                </div>
                                <!-- item 1 -->
                                <div class="list-item">
                                    <div th:each="student : ${event_model.students}" class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                            <img class="user-picture center-block"
                                                 th:src=" (${student.profile.avatar?.url}? (${student.profile.avatar.url}) : '/img/default-user.png')" />
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                                            <div class="user-data">
                                                <div class="user-title">
                                                    <div class="user-name">
                                                        <a th:text="@{${student.profile.name} + ' ' + ${student.profile.surname} + ' ' + ${student.profile.patronymic}}">
                                                            <span th:text="${student.profile.surname}" class="lastname">Фамилия</span>
                                                            <span th:text="${student.profile.name}" class="name">Имя</span>
                                                            <span th:text="${student.profile.patronymic}" class="secondname">Отчество</span>
                                                        </a>
                                                    </div>
                                                    <a class="delete" href="#" data-toggle="modal" data-target="#myModal" ><i class="fas fa-times"></i> Удалить</a>

                                                    <div class="modal fade delete-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title" id="myModalLabel">Вы уверенны?</h4>
                                                                    <button class="cancel-button modal-button" type="submit" value="Да">Исключить</button>
                                                                    <button class="send-button modal-button" type="reset" value="Нет" data-dismiss="modal">Вернуться назад</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="user-info">
                                                    <p th:inline="text"><span>Обучение:</span>[[${student.educationType}]]</p>
                                                    <p th:inline="text"><span>Курс:</span> [[${student.course}]]</p>
                                                    <p><span>Группа:</span>11-602</p>
                                                    <p><span>Организация:</span>Itis Musiс</p>
                                                    <p><span>Роль:</span>роль в мероприятии</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h2 class="create-title modal-title" id="addStudentModalLabel">Выберите студента</h2>
                                        </div>
                                        <div class="modal-body">
                                            <div class="list-item-users">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="user-data">
                                                            <div class="user-title">
                                                                <div class="user-name">
                                                                    <a href="view-student.html">
                                                                        <span class="lastname">Фамилия</span>
                                                                        <span class="name">Имя</span>
                                                                        <span class="secondname">Отчество</span>
                                                                    </a>
                                                                </div>
                                                                <a class="edit" href=""><i class="fas fa-plus-circle"></i> Добавить</a>
                                                            </div>
                                                            <div class="user-info">
                                                                <p><span>Обучение:</span>Бакалавриат</p>
                                                                <p><span>Курс:</span>2</p>
                                                                <p><span>Группа:</span>11-602</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="add-button close-button create-button" data-dismiss="modal">Закрыть</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pagination-list">
                                <ul class="pagination">
                                    <li class="pagination__item"><a href="#" class="pagination__number">←<span class="pagination__control pagination__control_prev">prev</span></a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number pagination__number_active">1</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number">2</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number">3</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number">4</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number">5</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number"><span class="pagination__control pagination__control_next">next</span>→</a></li>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="files">
                            <div class="data-list">
                                <div class="title-data" id="edit-event">
                                    <div class="title-sort">
                                        <button type="button" class="create-button event-button" data-target="#uploadModal" data-toggle="modal">Добавить файл</button>

                                        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="uploadModalLabel">Загрузить файл</h4>
                                                        <form enctype="multipart/form-data" method="post" action="#" th:action="@{'/admin/events/' + ${event_model.id} + '/edit/files'}">
                                                            <p>Загрузите ваши документы и файлы </p>
                                                            <div class="upload-file">
                                                                <input type="file" name="file" multiple="multiple"/>
                                                            </div>
                                                            <button class="send-button modal-button" type="submit" value="Да">Отправить</button>
                                                            <button class="cancel-button modal-button" type="reset" value="Нет" data-dismiss="modal">Отмена</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="h1">Файлы</h1>
                                </div>
                                <!-- item 1 -->
                                <div class="list-item">
                                    <div class="row">
                                        <div class="edit-event-container">
                                            <div class="user-data">
                                                <div class="edit">
                                                    <ul class="list-group">
                                                        <li th:each="file : ${files}"  th:inline="text" class="list-group-file"> [[${file.originalName}]] <a href="view-event.html" download="">Скачать</a>
                                                            <a class="delete" data-toggle="modal" data-target="#deleteModal" ><i class="fas fa-times"></i> Удалить</a>
                                                        </li>
                                                    </ul>

                                                    <div class="modal fade delete-modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title" id="modalLabel">Вы уверенны?</h4>
                                                                    <button class="cancel-button modal-button" type="submit" value="Да">Удалить</button>
                                                                    <button class="send-button modal-button" type="reset" value="Нет" data-dismiss="modal">Вернуться назад</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:include="elements/footer :: footer"></footer>
</body>
</html>
