<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="elements/head :: head"></head>
<body>

<div class="content">

    <header th:include="elements/menu-header :: menu-header"></header>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="create-box" sec:authorize="hasAnyRole('ADMIN', 'COOPERATOR')">
                        <a th:href="@{/admin/event/edit/{eventId}(eventId = ${event_model.id})}">
                            <button type="button" class="edit-button create-button">Редактировать</button></a>
                    </div>
                    <div class="create-box" sec:authorize="hasRole('STUDENT')">
                        <a th:href=""><button type="button" class="edit-button create-button">Участвовать</button></a>
                    </div>
                    <div class="small-box">
                        <div class="description-box">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="user-list">
                                        <h3>Участники</h3>
                                        <div th:each="student : ${event_model.students}" class="user-item">
                                            <div class="name">
                                                <a th:href="@{/admin/students/view/{id}(id = student.id)}"
                                                   th:text="${student.profile.surname} + ' ' + ${student.profile.name} + ' ' + ${student.profile.patronymic}">
                                                </a>
                                            </div>
                                            <div class="user-info">
                                                <p th:inline="text"><span>Курс:</span>[[${student.course}]]</p>
                                                <!--Сделать внедрение группы и роли-->
                                                <p ><span>Группа:</span>11-602</p>
                                                <p><span>Роль:</span>роль в мероприятии</p>
                                            </div>
                                        </div>

                                        <div class="view-all-item">
                                            <a data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-down"></i>Смотреть всех</a>
                                        </div>
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h2 class="modal-title" id="myModalLabel" th:inline="text">Участники: [[${students_size}]] </h2>                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="list-item-users">
                                                            <div th:each="student : ${event_model.students}" class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                                                                    <img class="user-picture center-block img-circle"
                                                                         th:src=" ${student.profile.avatar.url == null} ? ${student.profile.avatar.url} : '/img/default-user.png' " alt="User"/>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                                                                    <div class="user-data">
                                                                        <div class="user-title">
                                                                            <div class="user-name">
                                                                                <a th:href="@{/admin/students/view/{id}(id = student.id)}">
                                                                                    <span th:text="${student.profile.surname}" class="lastname">Фамилия</span>
                                                                                    <span th:text="${student.profile.name}" class="name">Имя</span>
                                                                                    <span th:text="${student.profile.patronymic}" class="secondname">Отчество</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="user-info">
                                                                            <p th:inline="text"><span>Обучение:</span>[[${student.educationType}]]</p>
                                                                            <p th:inline="text"><span>Курс:</span> [[${student.course}]]</p>
                                                                            <p><span>Группа:</span>11-602</p>
                                                                            <p><span>Роль:</span>роль в мероприятии</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="add-button close-button create-button" data-dismiss="modal">Закрыть</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 right-col">
                    <div class="data-list">
                        <div class="title-data event">
                            <h1 th:text="${event_model.name}" class="h1 event">Название мероприятия</h1>
                            <h5 th:inline="text" class="edit"><i class="fas fa-calendar-alt"></i> [[${event_model.eventDate}]]</h5>
                        </div>
                    </div>


                    <!-- item 1 -->
                    <div class="list-item">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="user-data">
                                    <div class="event-info-title">
                                        Общая информация
                                    </div>
                                    <div class="user-info">
                                        <p th:inline="text"><span>Тип мероприятия:</span>[[${event_model.eventTypeName}]]</p>
                                        <p th:inline="text"><span>Описание:</span>[[${event_model.description}]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="user-data">
                                    <div class="event-info-title">
                                        <a href="#">Фото</a>
                                    </div>
                                    <div th:each="photo : ${photos}" class="owl-carousel owl-theme">
                                        <div class="item"> <img th:src="@{photo.url}" class="user-picture" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="user-data">
                                    <div class="event-info-title">
                                        Файлы
                                    </div>
                                    <ul th:each="file : ${files}" class="list-group">
                                        <li th:inline="text" class="list-group-file">[[${file.originalName}]]<a href="view-event.html" download="">Скачать</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-container">
        <div class="footer-text">2018, UniService Team
            <div class="social-media">
                <a href="https://vk.com/itis_kpfu"><i class="fab fa-vk fa-lg"></i></a>
            </div>
        </div>
    </div>
</footer>

<script th:src="@{js/scripts.min.js(v=${v})}"></script>
</body>
</html>
