<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="elements/head :: head"></head>
<body>

<div class="content">

    <header th:include="elements/menu-header :: menu-header"></header>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3 new-col">
                    <div class="create-box" sec:authorize="hasAnyAuthority('ADMIN', 'COOPERATOR')">
                        <button type="button" class="add-button create-button" data-toggle="modal" data-target="#myModal">Создать организацию</button>
                    </div>

                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h2 class="create-title modal-title" id="myModalLabel">Создать организацию</h2>
                                </div>
                                <div class="modal-body">
                                    <form id="create-data" th:action="@{/admin/organizations/add}" method="POST">
                                        <div class="info-edit">
                                            <div class="input-box">
                                                <label for="name">Название:</label>
                                                <input id="name" type="text" name="title" placeholder="Название"/>
                                            </div>

                                            <div class="input-box">
                                                <label for="type">Тип:</label>
                                                <select id="type" name = "type">
                                                    <option>Не выбрано</option>
                                                    <option th:each="type : ${types}" th:text="${type}" th:value="${type}">Фильтр 1</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" form="create-data" class="create-org-button create-button">Создать</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="small-box">
                        <div class="select-box">
                            <form action="#" method="post">
                                <div class="select-item">
                                    <h4>Тип организации</h4>
                                    <div class="select">
                                        <select title="">
                                            <option>Не выбрано</option>
                                            <option th:each="type : ${types}" th:text="${type}" th:value="${type}"></option>
                                        </select>
                                        <div class="select__arrow"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" form="create-data" class="create-org-button create-button">Создать</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-9 right-col">
                    <div class="data-list">
                        <div class="title-data">
                            <h1 class="h1 view-425">Организации</h1>
                            <div class="sort-select title-sort">
                                <select title="" id="sortSelect" onchange="if(this.value !== 0) { location = this.value; }" >
                                    <option value="0">Сортировать</option>
                                    <option th:attr="value = @{/admin/organizations/asc(page = ${pageWrapper.currentNumber})}">По названию А-Я</option>
                                    <option th:attr="value = @{/admin/organizations/desc(page = ${pageWrapper.currentNumber})}">По названию Я-А</option>
                                </select>
                                <div class="select__arrow"></div>
                            </div>
                            <h1 class="h1 list-title">Организации</h1>
                            <div class="search-title">
                                <div class="search-box">
                                    <form th:action="@{/admin/organizations/search}" method="POST">
                                        <input type="search" id="search" placeholder="Поиск..." name="search"/>
                                        <button class="icon" type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="list-item" th:each="organization : ${pageWrapper.content}">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <img class="user-picture center-block" th:src="@{/img/default-user.png}" alt="User"/>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                                    <div class="user-data">
                                        <div class="user-title">
                                            <div class="user-name">
                                                <a th:href="@{/admin/organizations/show/{id}(id = ${organization.id})}">
                                                    <span th:text="${organization.title}">Название</span>
                                                </a>
                                            </div>
                                            <a class="edit" th:href="@{/admin/organizations/edit/id}" sec:authorize="hasAnyAuthority('ADMIN', 'COOPERATOR')">
                                                <i class="fas fa-edit"></i> Редактировать</a>
                                            <a class="edit" href="#" sec:authorize="hasAuthority('STUDENT')"><i class="fas fa-arrow-circle-up"></i> Участвовал</a>

                                        </div>
                                        <div class="user-info">
                                            <p th:inline = "text"><span>Тип организации:</span>[[${organization.type}]]</p>
                                            <!--<p th:inline = "text"><span>Руководитель:</span>[[${organization.headStudents.iterator().next().id}]]</p>-->
                                            <p th:inline = "text"><span>Описание:</span>[[${organization.description}]]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination-list" th:if = "${pageWrapper ne null}">
                        <ul class="pagination">
                            <li class="pagination__item" th:if="${pageWrapper.currentNumber} - 3 &gt; 0">
                                <a th:href="@{${pageWrapper.url}(page = ${pageWrapper.currentNumber - 4})}"
                                   class="pagination__number">←<span class="pagination__control pagination__control_prev">prev</span>
                                </a>
                            </li>
                            <li class="pagination__item" th:each="elem : ${pageWrapper.content}">
                                <a th:href='@{${pageWrapper.url}(page = ${elem.id})}'
                                   class = "pagination_number"
                                   th:text='${elem.id}'>1</a>
                            </li>
                            <li class="pagination__item" th:if="${pageWrapper.currentNumber} + 3 &lt; ${limit}">
                                <a th:href="@{${pageWrapper.url}(page = ${pageWrapper.currentNumber + 4})}" class="pagination__number">
                                    <span class="pagination__control pagination__control_next">next</span>→</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="elements/footer :: footer"></footer>
</body>
</html>
