<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:include="elements/head :: head"></head>
<body>

<div class="content">

    <header th:include="elements/menu-header :: menu-header"></header>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3 new-col">
                    <div class="small-box">
                        <div class="select-box">
                            <!-- Nav tabs -->
                            <ul class="tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Общие настройки</a></li>
                                <li role="presentation"><a href="#picture" aria-controls="picture" role="tab" data-toggle="tab">Сменить фото</a></li>
                                <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Участники</a></li>
                                <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Мероприятия</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-9 new-col right-col">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="settings">
                            <div class="data-list">
                                <div class="title-data">
                                    <h1 class="h1">Редактировать</h1>
                                </div>
                                <!-- item 1 -->
                                <div class="list-item">
                                    <div class="info-edit">
                                        <div class="row">
                                            <form th:action="@{/admin/organizations/edit}" method="POST">

                                                <input type = "hidden" name = "id" th:value="${id}"/>

                                                <div class="input-box">
                                                    <label for="name">Название:</label>
                                                    <input id="name" type="text" name="title" placeholder="Название"/>
                                                </div>
                                                <div class="input-box">
                                                    <label for="employer">ID руководителя:</label>
                                                    <input id="employer" type="text" name="directorId" placeholder="Руководитель"/>
                                                </div>
                                                <div class="input-box">
                                                    <label for="type">Тип:</label>
                                                    <select id="type" name="type">
                                                        <option>Не выбрано</option>
                                                        <option>Фильтр 1</option>
                                                        <option>Фильтр 2</option>
                                                    </select>
                                                </div>
                                                <div class="input-box">
                                                    <label for="descr">Описание:</label>
                                                    <textarea id="descr" type="text" name="description" placeholder="Описание"></textarea>
                                                </div>
                                                <div class="button-container">
                                                    <button class="create-org-button create-button upload-button" type="submit">Отправить</button>
                                                    <button class="cancel-button create-button upload-button" type="reset">Отмена</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="picture">
                            <div class="data-list">
                                <div class="title-data">
                                    <h1 class="h1">Сменить фото</h1>
                                </div>
                                <!-- item 1 -->
                                <div class="list-item picture-setting-item">
                                    <img class="center-block img-rounded setting-picture" src="img/default-user.png" alt="Organization">
                                    <form id="edit" enctype="multipart/form-data" method="post" action="">
                                        <input class="upload-input" type="file" name="upload" accept="image/jpeg,image/png">
                                        <div class="button-container">
                                            <button class="create-org-button create-button upload-button" type="submit">Отправить</button>
                                            <button class="cancel-button create-button upload-button" type="reset">Отмена</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="users">
                            <div class="data-list">
                                <div class="title-data setting">
                                    <h1 class="h1 view-425">Мероприятия</h1>
                                    <div class="sort-select title-sort">
                                        <select title="">
                                            <option>Сортировать</option>
                                            <option>По фамилие А-Я</option>
                                            <option>По фамилие Я-А</option>
                                        </select>
                                        <div class="select__arrow"></div>
                                    </div>
                                    <h1 class="h1 list-title">Участники</h1>
                                    <div class="search-title">
                                        <div class="search-box">
                                            <input type="search" id="searchUser" placeholder="Поиск..." />
                                            <button class="icon"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                    <div class="add-item">
                                        <a href="#" data-target="#addStudent" data-toggle="modal"><i class="fa fa-plus"></i>Добавить пользователя</a>
                                    </div>

                                </div>
                                <!-- item 1 -->
                                <div class="list-item">
                                    <div class="row" th:each="student : ${students}">
                                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                            <img class="user-picture center-block" th:src="@{/img/default-user.png}" alt="User"/>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                                            <div class="user-data">
                                                <div class="user-title">
                                                    <div class="user-name">
                                                        <!--сделать ссылку на студента-->
                                                        <a href="view-user.html">
                                                            <span class="lastname" th:text="${student.profile.surname}">Фамилия</span>
                                                            <span class="name" th:text="${student.profile.name}">Имя</span>
                                                            <span class="secondname" th:text="${student.profile.patronymic}">Отчество</span>
                                                        </a>
                                                    </div>
                                                    <a class="delete" data-toggle="modal" data-target="#myModal" ><i class="fas fa-times"></i> Удалить</a>

                                                    <div class="modal fade delete-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title" id="myModalLabel">Вы уверены?</h4>
                                                                    <a th:href="@{/admin/organizations/{organizationId}/delete/{participantId}(organizationId = ${id}, participantId = ${student.id})}">
                                                                        <button class="cancel-button modal-button" type="submit" value="Да">Исключить</button>
                                                                    </a>
                                                                    <button class="send-button modal-button" type="reset" value="Нет" data-dismiss="modal">Вернуться назад</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="user-info">
                                                    <p th:inline="text"><span>Обучение:</span>[[${student.educationType.toString()}]]</p>
                                                    <p th:inline="text"><span>Курс:</span>[[${student.course}]]</p>
                                                    <p th:inline="text"><span>Группа:</span>[[${student.groups.iterator().next().title}]]</p>
                                                    <!--<p><span>Организация:</span>Itis Musiс</p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination-list">
                                <ul class="pagination">
                                    <li class="pagination__item"><a href="#" class="pagination__number">←<span class="pagination__control pagination__control_prev">prev</span></a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number pagination__number_active">1</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number">2</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number">3</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number">4</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number">5</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number"><span class="pagination__control pagination__control_next">next</span>→</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h2 class="create-title modal-title" id="addStudentModalLabel">Выберите студента</h2>
                                    </div>
                                    <div class="modal-body">
                                        <div class="list-item-users">
                                            <div class="row" th:each="student : ${students}">
                                                <div class="col-lg-12">
                                                    <div class="user-data">
                                                        <div class="user-title">
                                                            <div class="user-name">
                                                                <a href="view-student.html">
                                                                    <span class="lastname" th:text="${student.profile.surname}">Фамилия</span>
                                                                    <span class="name" th:text="${student.profile.name}">Имя</span>
                                                                    <span class="secondname" th:text="${student.profile.patronymic}">Отчество</span>
                                                                </a>
                                                            </div>
                                                            <a class="edit" href=""><i class="fas fa-plus-circle"></i> Добавить</a>
                                                        </div>
                                                        <div class="user-info">
                                                            <p th:inline="text"><span>Обучение:</span>[[${student.educationType.toString()}]]</p>
                                                            <p th:inline="text"><span>Курс:</span>[[${student.course}]]</p>
                                                            <p th:inline="text"><span>Группа:</span>[[${student.groups.iterator().next().title}]]</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="close-button create-button" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="events">
                            <div class="data-list">
                                <div class="title-data setting">
                                    <h1 class="h1 view-425">Мероприятия</h1>
                                    <div class="sort-select title-sort">
                                        <select title="">
                                            <option>Сортировать</option>
                                            <option>По фамилие А-Я</option>
                                            <option>По фамилие Я-А</option>
                                        </select>
                                        <div class="select__arrow"></div>
                                    </div>
                                    <h1 class="h1 list-title">Мероприятия</h1>
                                    <div class="search-title">
                                        <form action="" method="">
                                            <input type="search" id="search" placeholder="Поиск..." name="search"/>
                                            <button class="icon" type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                    <div class="add-item">
                                        <a href="#" data-toggle="modal" data-target="#addEvent"><i class="fa fa-plus"></i>Добавить мероприятие</a>
                                    </div>
                                </div>
                                <!-- item 1 -->
                                <div class="list-item" th:each="event : ${events}">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="user-data">
                                                <div class="user-title">
                                                    <div class="user-name">
                                                        <a th:href="@{/admin/event/view/{id}(id = ${event.id})}">
                                                            <span th:text="${event.name}">Название</span>
                                                        </a>
                                                    </div>
                                                    <a class="delete" href="#" data-toggle="modal" data-target="#eventDeleteModal" ><i class="fas fa-times"></i> Удалить</a>

                                                    <div class="modal fade delete-modal" id="eventDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title" id="eventDeleteModalLabel">Вы уверенны?</h4>
                                                                    <a th:href = "@{/organizations/{organizationId}/delete/{eventId}(organizationId = ${id}, eventId = ${event.id})}">
                                                                        <button class="cancel-button modal-button" type="submit" value="Да">Удалить</button>
                                                                    </a>
                                                                    <button class="send-button modal-button" type="reset" value="Нет" data-dismiss="modal">Вернуться назад</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="user-info" th:each="description : ${event.eventTypeEvaluations}">
                                                    <p th:inline="text"><span>Тип мероприятия:</span>[[${description.type}]]</p>
                                                    <p th:inline="text"><span>Дата:</span>[[${event.eventDate}]]</p>
                                                    <p th:inline="text"><span>Описание:</span>[[${event.description}]]</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h2 class="create-title modal-title" id="addEventModalLabel">Выберите мероприятие</h2>
                                        </div>
                                        <div class="modal-body">
                                            <div class="list-item-users" th:each="event : ${events}">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="user-data">
                                                            <div class="user-title">
                                                                <div class="user-name">
                                                                    <a th:href="@{/admin/event/view/{id}(id = ${event.id})}">
                                                                        <span th:text="${event.name}">Название</span>
                                                                    </a>
                                                                </div>
                                                                <a class="edit" href=""><i class="fas fa-plus-circle"></i> Добавить</a>
                                                            </div>
                                                            <div class="user-info" th:each="description : ${event.eventTypeEvaluations}">
                                                                <p th:inline="text"><span>Тип мероприятия:</span>[[${description.type}]]</p>
                                                                <p th:inline="text"><span>Дата:</span>[[${event.eventDate}]]</p>
                                                                <p th:inline="text"><span>Описание:</span>[[${event.description}]]</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="add-button close-button create-button" data-dismiss="modal">Закрыть</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination-list">
                                <ul class="pagination">
                                    <li class="pagination__item"><a href="#" class="pagination__number">←<span class="pagination__control pagination__control_prev">prev</span></a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number pagination__number_active">1</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number">2</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number">3</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number">4</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number">5</a></li>
                                    <li class="pagination__item"><a href="#" class="pagination__number"><span class="pagination__control pagination__control_next">next</span>→</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:include="elements/footer :: footer"></footer>
</body>
</html>

