<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:include="elements/head :: head"></head>
<body>

<div class="content">

    <header th:include="elements/menu-header :: menu-header"></header>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 new-col ">
                    <div class="create-box" th:if="${role} == 'ADMIN' or ${role} == 'EMPLOYEE'">
                        <a href="edit-organization.html"><button type="button" class="edit-button create-button">Редактировать</button></a>
                    </div>
                    <div class="create-box" th:if="${role} == 'STUDENT'">
                        <a href=""><button type="button" class="edit-button create-button">Вступить</button></a>
                    </div>
                    <div class="small-box">
                        <div class="description-box">
                            <div class="row">
                                <div class="col-sm-12 col-xs-4 new-col view-org">
                                    <img class="center-block img-rounded" src="img/default-user.png" alt="Organization">
                                </div>
                                <div class="col-sm-12 col-xs-8">
                                    <h2>Название организации</h2>
                                    <hr>
                                    <div class="info-box">
                                        <p><span>Тип:</span>тип организации</p>
                                        <p><span>Руководитель:</span><a href="view-student.html">имя руководителя</a></p>
                                        <p><span>Описание:</span>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aperiam dignissimos eos ipsum laudantium,
                                            nostrum vero? Ducimus et exercitationem impedit nisi provident quis voluptatem! Est id labore quidem voluptas!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 new-col right-col">
                    <div class="data-list">

                        <div class="title-view">
                            <div class="small-box" data-toggle="modal" data-target="#myModal">
                                <span>Участники: </span>32
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h2 class="modal-title" id="myModalLabel">Участники: 32 </h2>
                                        </div>
                                        <div class="modal-body">
                                            <div class="list-item-users">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                                                        <img class="user-picture center-block img-circle" src="img/default-user.png" alt="User">
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                                                        <div class="user-data">
                                                            <div class="user-title">
                                                                <div class="user-name">
                                                                    <a href="view-student.html">
                                                                        <span class="lastname">Фамилия</span>
                                                                        <span class="name">Имя</span>
                                                                        <span class="secondname">Отчество</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="user-info">
                                                                <p><span>Обучение:</span>Бакалавриат</p>
                                                                <p><span>Курс:</span>2</p>
                                                                <p><span>Группа:</span>11-602</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="add-button close-button create-button" data-dismiss="modal">Закрыть</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="search-title">
                                <div class="search-box">

                                </div>
                            </div>
                        </div>


                        <!-- item 1 -->
                        <div class="list-item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="user-data">
                                        <div class="user-title">
                                            <div class="user-name">
                                                <a href="view-event.html">
                                                    <span>Название</span>
                                                </a>
                                            </div>
                                            <a class="edit" href="edit-event.html" th:if="${role} == 'ADMIN' or ${role} == 'EMPLOYEE'"><i class="fas fa-edit"></i> Редактировать</a>
                                            <a class="edit" href="#" th:if="${role} == 'STUDENT'"><i class="fas fa-arrow-circle-up"></i> Участвовал</a>
                                        </div>
                                        <div class="user-info">
                                            <p><span>Тип мероприятия:</span>Тип</p>
                                            <p><span>Дата:</span>13.04.2018</p>
                                            <p><span>Описание:</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corporis dolore magni mollitia praesentium quae vel? Facilis hic, illum inventore nemo nobis perspiciatis qui suscipit voluptatem! Eius impedit neque tenetur.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="pagination-list">
                        <ul class="pagination">
                            <li class="pagination__item"><a href="#" class="pagination__number">←<span class="pagination__control pagination__control_prev">prev</span></a></li>
                            <li class="pagination__item"><a href="#" class="pagination__number pagination__number_active">1</a></li>
                            <li class="pagination__item"><a href="#" class="pagination__number">2</a></li>
                            <li class="pagination__item"><a href="#" class="pagination__number">3</a></li>
                            <li class="pagination__item"><a href="#" class="pagination__number">4</a></li>
                            <li class="pagination__item"><a href="#" class="pagination__number">5</a></li>
                            <li class="pagination__item"><a href="#" class="pagination__number"><span class="pagination__control pagination__control_next">next</span>→</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer th:include="elements/footer :: footer"></footer>
</body>
</html>
