<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:include="elements/head :: head"></head>
<body>
<div class="content">
    <header th:include="elements/menu-header :: menu-header"></header>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="error-message">
                    <h1 th:text="${status}">404</h1>
                    <h2 th:text="${error}">Ошибка</h2>
                    <h2 th:text="${message}">К сожалению, страница не найдена</h2>
                    <h2 th:text="${#dates.format(timestamp, 'dd.MMM.yyyy HH:mm:ssss')}">Дата</h2>
                    <a th:href="@{/admin/index}">Вернуться на главную страницу <span><i class="fa fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="elements/footer :: footer"></footer>
</body>
</html>