<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:include="elements/head :: head"></head>
<body>

<div class="content">

    <header th:include="elements/menu-header :: menu-header"></header>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3 new-col">
                    <div class="small-box">
                        <div class="select-box">
                            <!-- Nav tabs -->
                            <ul class="tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Общие настройки</a></li>
                                <li role="presentation"><a href="#picture" aria-controls="picture" role="tab" data-toggle="tab">Сменить фото</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-9 new-col right-col">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="settings">
                            <div class="data-list">
                                <div class="title-data">
                                    <h1 class="h1">Редактировать</h1>
                                </div>
                                <!-- item 1 -->
                                <div class="list-item">
                                    <div class="info-edit">
                                        <div class="row">
                                            <form th:action="@{/admin/employee/edit}" method="POST">

                                                <input type = "hidden" name = "id" th:value="${id}"/>

                                                <div class="input-box">
                                                    <label for="secondname">Фамилия</label>
                                                    <input id="secondname" type="text" name="secondName" placeholder="Фамилия"/>
                                                </div>
                                                <div class="input-box">
                                                    <label for="firstname">Имя</label>
                                                    <input id="firstname" type="text" name="firstName" placeholder="Имя"/>
                                                </div>
                                                <div class="input-box">
                                                    <label for="lastname">Отчество</label>
                                                    <input id="lastname" type="text" name="lastName" placeholder="Отчество"/>
                                                </div>
                                                <div class="input-box">
                                                    <label for="email">E-mail</label>
                                                    <input id="email" type="text" name="email" placeholder="Email"/>
                                                </div>
                                                <div class="input-box">
                                                    <label for="position">Должность</label>
                                                    <input id="position" type="text" name="appointment" placeholder="Должность"/>
                                                </div>
                                                <div class="input-box">
                                                    <label for="experience">Стаж работы</label>
                                                    <input id="experience" type="text" name="recordOfService" placeholder="Стаж"/>
                                                </div>

                                                <div class="button-container">
                                                    <button class="create-org-button create-button upload-button" type="submit">Отправить</button>
                                                    <button class="cancel-button create-button upload-button" type="reset">Отмена</button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="picture">
                            <div class="data-list">
                                <div class="title-data">
                                    <h1 class="h1">Сменить фото</h1>
                                </div>
                                <!-- item 1 -->
                                <div class="list-item picture-setting-item">
                                    <img class="center-block img-rounded setting-picture" th:src="@{img/default-user.png}" alt="Organization"/>
                                    <form id="edit" enctype="multipart/form-data" method="post" action="">
                                        <input class="upload-input" type="file" name="upload" accept="image/jpeg,image/png"/>
                                        <div class="button-container">
                                            <button class="create-org-button create-button upload-button" type="submit">Отправить</button>
                                            <button class="cancel-button create-button upload-button" type="reset">Отмена</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="elements/footer :: footer"></footer>
</body>
</html>
