<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="elements/head :: head"></head>
<body>

<div class="content">

    <header th:include="elements/menu-header :: menu-header"></header>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 new-col-375">
                    <div class="create-box" sec:authorize="hasAnyAuthority('ADMIN', 'COOPERATOR')">
                        <a th:href="@{/admin/employee/edit/{id}(id = ${cooperator.id})}"><button type="button" class="create-button">Редактировать</button></a>
                    </div>
                    <div class="small-box view-student">
                        <div class="description-box">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <img class="center-block img-rounded" th:src="@{img/default-user.png}" alt="Organization"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 new-col-375 right-col">
                    <div class="data-list">
                        <div class="title-data event">
                            <h1 class="h1 event">Профиль</h1>
                        </div>
                    </div>
                    <!-- item 1 -->
                    <div class="list-item student-view">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="user-data student-view">
                                    <div class="user-title">
                                        <div class="user-name" th:inline="text">
                                            <span class="lastname">[[${cooperator.profile.surname}]]</span>
                                            <span class="name">[[${cooperator.profile.name}]]</span>
                                            <span class="secondname">[[${cooperator.profile.patronymic}]]</span>
                                        </div>
                                    </div>
                                    <div class="user-info" th:inline="text">
                                        <p><span>E-mail:</span>[[${cooperator.profile.email}]]</p>
                                        <p><span>Должность:</span>[[${cooperator.appointment}]]</p>
                                        <p><span>Стаж:</span>[[${cooperator.recordOfService}]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="elements/footer :: footer"></footer>
</body>
</html>
