<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:include="elements/head :: head">
</head>

<body>

<div class="content">
    <header th:include="elements/menu-header :: menu-header"></header>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3 new-col">
                    <div class="create-box">
                        <button class="add-button create-button" data-toggle="modal" data-target="#myModal">Выгрузить таблицу</button>
                    </div>

                    <div class="small-box">
                        <div class="select-box">
                            <form action="#" th:action="@{/add-scores}" th:object="${filter}" method="post">
                                <div class="select-item">
                                    <h4>Курс</h4>
                                    <div class="select">
                                        <select th:field="*{course}">
                                            <!--<option
                                                    th:each="courseValue: ${singleSelectAllValues}"
                                                    th:value="${courseValue}"
                                                    th:text="${courseValue}"></option>-->
                                            <option>Не выбрано</option>
                                            <option>1 курс</option>
                                            <option>2 курс</option>
                                            <option>3 курс</option>
                                            <option>4 курс</option>
                                        </select>
                                        <div class="select__arrow"></div>
                                    </div>
                                </div>
                                <div class="select-item">
                                    <h4>Группа</h4>
                                    <div class="select">
                                        <select title="">
                                            <option>Не выбрано</option>
                                            <option th:each="group : ${groups}" th:text="${group.title}">11-601</option>
                                        </select>
                                        <div class="select__arrow"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-9 new-col right-col">
                    <div class="data-list">
                        <div class="title-data">
                            <h1 class="h1 view-425">Добавить баллы</h1>
                            <div class="sort-select title-sort">
                                <form action="" method="get"  id="sortForm">
                                    <select title="" id="sortSelect" onchange="if(this.value !== 0) { this.form.submit(); }" >
                                        <option value="0">Сортировать</option>
                                        <option value="1">По фамилие А-Я</option>
                                        <option value="2">По фамилие Я-А</option>
                                    </select>
                                </form>
                                <div class="select__arrow"></div>
                            </div>
                            <h1 class="h1 list-title">Добавить баллы</h1>
                            <div class="search-title">
                                <div class="search-box">
                                    <form action="" method="">
                                        <input type="search" id="search" placeholder="Поиск..." name="search"/>
                                        <button class="icon" type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- item 1 -->
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="save" method="post" id="addScoresForm">
                                    <ul class="responsive-table">
                                        <li class="table-header">
                                            <div class="col col-1">Студент</div>
                                            <div class="col col-2">Мероприятие</div>
                                            <div class="col col-3">Роль</div>
                                            <div class="col col-4">Подтверждение</div>
                                            <div class="col col-5">Балл</div>
                                        </li>
                                        <!--когда строка таблицы еще обаботана руководителем-->
                                        <div th:each="evaluation : ${evaluations}">
                                            <li class="table-row" th:each="student : ${evaluation.students}" >
                                                <div class="col col-1" data-label="Мероприятие" >
                                                    <div class="col col-2" data-label="Мероприятие" th:text="${evaluation.id}"></div>
                                                    <div class="col col-3" data-label="Роль" th:text="${evaluation.studentRole}"></div>

                                                    <div class="col col-4" data-label="Подтверждение">
                                                        <input type="radio" th:name="'confirm' + ${evaluation.id}" value="true"/> Да<br/>
                                                        <input type="radio" th:name="'confirm' + ${evaluation.id}" value="false"/> Нет
                                                    </div>
                                                    <div class="col col-5" data-label="Балл">
                                                        <div class="add-scores-box">
                                                            <input id="score1" type="text"
                                                                   th:name="'addScoresForm' + ${evaluation.id}"
                                                                   form="addScoresForm"
                                                                   th:attr="data-rule-range = ${evaluation.startValue} + ', ' + ${evaluation.endValue}"
                                                                   th:attr = "data-msg-range = 'Введите число в диапазоне от ' + ${evaluation.startValue} + ' до ' + ${evaluation.endValue}"
                                                                   data-msg-required="Обязательно к заполнению"
                                                                   required = "true"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                    <div class="view-all-item">
                                        <button type="submit" class="create-button create-org-button">Сохранить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<footer th:include="elements/footer :: footer"></footer>
</body>
</html>