<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="elements/head :: head"></head>
<body>
<div class="content">
    <header th:include="elements/menu-header :: menu-header"></header>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="create-box" sec:authorize="hasAuthority('STUDENT')">
                        <a th:href="@{/student/edit-scores}"><button type="button" class="edit-button create-button">Редактировать мероприятия</button></a>
                    </div>
                    <div class="small-box">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="current-scores-item">
                                    <h2>Мои баллы</h2>
                                    <h1 th:text="${marks}">10</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 right-col">
                    <div class="data-list">
                        <div class="title-data event">
                            <h1 class="h1 event">Распределение баллов по предметам</h1>
                        </div>
                    </div>


                    <!-- item 1 -->
                    <div class="list-item">
                        <div class="info-edit distribute-scores">
                            <div class="row">
                                <form action="" name="distributeScoresForm" id="distributeScoresForm" method="get">
                                    <div class="input-box">
                                        <label for="subj1">Предмет</label>
                                        <input id="subj1" type="number" name="subj1" placeholder="Балл" data-rule-range="0, 10" data-msg-range="Введите число в диапазоне от 0 до 10" data-msg-required="Обязательно к заполнению" required = "true"/>
                                    </div>
                                    <!-- data-rule-range - здесь прописывать границы для валидации
                                    data-msg-range - здесь тоже прописать границы для вывода сообщения об ошибке -->
                                    <div class="input-box">
                                        <label for="subj2">Предмет</label>
                                        <input id="subj2" type="number" name="subj2" placeholder="Балл" data-rule-range="0, 5" data-msg-range="Введите число в диапазоне от 0 до 5" data-msg-required="Обязательно к заполнению" required = "true"/>
                                    </div>

                                    <div class="button-container">
                                        <button class="create-org-button create-button upload-button" type="submit">Отправить</button>
                                        <button class="cancel-button create-button upload-button" type="reset">Очистить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>


            </div>

        </div>
    </div>
</div>
<footer th:include="elements/footer :: footer"></footer>
</body>
</html>
