<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:include="elements/head :: head"></head>
<body>
<div class="content">
    <header th:include="elements/menu-header :: menu-header"></header>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="data-list">
                        <div class="title-data setting">
                            <h1 class="h1 view-425">Мероприятия</h1>
                            <h1 class="h1 list-title">Мероприятия</h1>
                            <div class="add-item">
                                <a href="#" data-toggle="modal" data-target="#addEvent"><i class="fa fa-plus"></i>Добавить мероприятие</a>
                            </div>
                        </div>
                    </div>
                    <ul class="responsive-table">
                        <li class="table-header">
                            <div class="col col-1">Мероприятие</div>
                            <div class="col col-2">Роль</div>
                            <div class="col col-3">Подтверждение</div>
                            <div class="col col-4">Файлы</div>
                            <div class="col col-5">Балл</div>
                            <div class="col col-6">Изменить файл</div>
                            <div class="col col-7">Удалить</div>
                        </li>
                        <li class="table-row">
                            <div class="col col-1" data-label="Мероприятие">Название мероприятия</div>
                            <div class="col col-2" data-label="Роль">Роль в мероприятии</div>
                            <div class="col col-3" data-label="Подтверждение">Подтверждено</div>
                            <div class="col col-4" data-label="Файл">
                                <div class="download-file-score">
                                    <a href="view-event.html" download="">Название файла</a></div>
                            </div>
                            <div class="col col-5" data-label="Балл">10</div>
                            <div class="col col-6" data-label="Добавить файл">
                                <button type="button" class="edit-button create-button delete-button" data-target="#uploadModal1" data-toggle="modal">Добавить</button>
                                <div class="data-list">
                                    <div class="title-data">
                                        <div class="title-sort">
                                            <div class="modal fade" id="uploadModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="uploadModalLabel">Загрузить файл</h4>
                                                            <form enctype="multipart/form-data" method="post" action="">
                                                                <p>Загрузите ваши документы и файлы </p>
                                                                <div class="upload-file">
                                                                    <input type="file" name="photo" multiple = "true"/>
                                                                </div>
                                                                <button class="send-button modal-button" type="submit" value="Да">Отправить</button>
                                                                <button class="cancel-button modal-button" type="reset" value="Нет" data-dismiss="modal">Отмена</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-7" data-label="Удалить"><button class="cancel-button create-button delete-button">Удалить</button> </div>
                        </li>
                        <li class="table-row">
                            <div class="col col-1" data-label="Мероприятие">Название мероприятия</div>
                            <div class="col col-2" data-label="Роль">Роль в мероприятии</div>
                            <div class="col col-3" data-label="Подтверждение">Не подтверждено</div>
                            <div class="col col-4" data-label="Файл">
                                <div class="download-file-score">
                                    <a href="view-event.html" download="">Название файла</a></div>
                            </div>
                            <div class="col col-5" data-label="Балл">-</div>
                            <div class="col col-6" data-label="Добавить файл">
                                <button type="button" class="edit-button create-button delete-button" data-target="#uploadModal1" data-toggle="modal">Добавить</button>
                                <div class="data-list">
                                    <div class="title-data">
                                        <div class="title-sort">
                                            <div class="modal fade" id="uploadModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="uploadModalLabel">Загрузить файл</h4>
                                                            <form enctype="multipart/form-data" method="post" action="">
                                                                <p>Загрузите ваши документы и файлы </p>
                                                                <div class="upload-file">
                                                                    <input type="file" name="photo" multiple = "true"/>
                                                                </div>
                                                                <button class="send-button modal-button" type="submit" value="Да">Отправить</button>
                                                                <button class="cancel-button modal-button" type="reset" value="Нет" data-dismiss="modal">Отмена</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="edit-button create-button delete-button" data-target="#uploadModal1" data-toggle="modal">Добавить</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h2 class="create-title modal-title" id="addEventModalLabel">Выберите мероприятие</h2>
                        </div>
                        <div class="modal-body">
                            <div class="list-item-users">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="user-data">
                                            <div class="user-title">
                                                <div class="user-name">
                                                    <a href="view-event.html">
                                                        <span>Название</span>
                                                    </a>
                                                </div>
                                                <a class="edit" href=""><i class="fas fa-plus-circle"></i> Добавить</a>
                                            </div>
                                            <div class="user-info">
                                                <p><span>Тип мероприятия:</span>Тип</p>
                                                <p><span>Дата:</span>13.04.2018</p>
                                                <p><span>Описание:</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corporis dolore magni mollitia praesentium quae vel? Facilis hic, illum inventore nemo nobis perspiciatis qui suscipit voluptatem! Eius impedit neque tenetur.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close-button create-button" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:include="elements/footer :: footer"></footer>
</body>
</html>